/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: 430px) {
    flex-direction: row;
    font-size: 30px;
  }
}

/*.imagen_avatar{
  
}*/

picture img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

span {
  font-weight: bold;
}

p {
  font-family: "Inter", sans-serif;
}
